form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
form h1{
    margin: 0;
}
form textarea{
    height: 100px;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0;
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}
form textarea:focus{
    outline-color: #61dafa;
}
form textarea::placeholder{
    font-size: large;
    font-weight: bold;
}
.todoform-button-container{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}
.todo-button{
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.todo-button:hover{
    transform: scale(1.1);
}
.todo-button-cancelar{
    color: black;
    background-color: transparent
}
.todo-button-cancelar:hover{
    color: white;
    background-color: red;
}
.todo-button-aceptar{
    background-color: #61dafa;
}